<div class="container__tela">
  <div id="tela__barra-menu">
    <div id="barra-titulo__container">
      <h2>RELATÓRIO DE NOTAS</h2>
    </div>

    <div class="button-container">
      <button
        class="buttons"
        type="button"
        title="Gerar PDF"
        *ngIf="grupoSelecionado && dados.length"
        (click)="gerarPdf()"
      >
        <i class="bi bi-file-earmark-pdf"></i> PDF
      </button>

      <button
        class="buttons"
        type="button"
        title="Filtro"
       (click)="alternarFiltro()"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="filtros" *ngIf="filtroStatus">
    <div class="filtro-grupo">
      <tcx-select
        [label]="'Grupo de Exame'"
        [placeholder]="''"
        [niveisLimitados]="listaGrupos"
        [(ngModel)]="idGrupoSelecionado"
        (valorMudou)="aoSelecionarGrupo($event)"
      />
    </div>
      <div class="filtro-item">
        <tcx-multi-select
          [label]="'Comuns'"
          [placeholder]="'Todas as Comuns'"
          [niveisLimitados]="listaSelect"
          [(ngModel)]="comunsSelecionadas"
          (valorMudou)="aoSelecionarComunsFiltro($event)"
        />
      </div>
      <div  class="filtro-pesquisa">
        <tcx-text
          label="Pesquisa..."
          type="text"
          [(value)]="pesquisa"
          (valueChange)="aplicarFiltros()"
        />
      </div>
  </div>

  <div id="tela__container-tabela" *ngIf="grupoSelecionado">
    <div class="grupo-info">
      <strong>{{ grupoSelecionado.grupoExame }}</strong>
      <span>{{ grupoSelecionado.descricao }}</span>
    </div>

    <h3>Notas por Aluno</h3>
    <div class="bloco-relatorio">

      <tcx-table
        [colunas]="colunas"
        [colunasLabels]="labels"
        [dados]="dados"
        [tamanhosColunas]="tamanhosColunas"
        [alinhamentosColunasTitulo]="alinhamentoTitulo"
        [alinhamentosColunas]="alinhamentoColuna"
        [mostrarAcoes]="false"
      />
    </div>
  </div>

  <div class="sem-dados" *ngIf="!grupoSelecionado">
    Selecione um grupo de exame para gerar o relatório.
  </div>
</div>
