:host {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container__tela {
  display: flex;
  flex-direction: column;
  padding: 0 40px 15px 40px;
  width: 100%;
  min-width: 700px;
  height: 100%;
  box-sizing: border-box;
}

#tela__barra-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 20px;
  padding: 8px 15px;
  box-sizing: border-box;

  border-bottom: 2px solid #ccc;

  box-shadow:
    inset 0 -1px 0 #dcdcdc,
    inset 0 -2px 0 #999;
}

#barra-titulo__container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
}

#tela__container-tabela {
  width: 100%;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  min-height: 0;
}

h2 {
  font-weight: normal;
  color: grey;
}

h4 {
  font-weight: normal;
  padding-left: 2px;
  color: grey;
}

p {
  font-size: 14px;
  padding-left: 2px;
  color: grey;
}
/* FORMULÁRIO */

/* .templates__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;
  box-sizing: border-box;
  overflow: auto;
} */

.templates__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 600px;

  box-sizing: border-box;

  height: auto;
  max-height: none;
  overflow: visible;
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 8px;
  width: 100%;
  min-width: 450px;

  margin-bottom: 10px;
}

.linhaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.container__button,
.form__button {
  width: 120px;
  height: 28px;
}

/* INPUTS */

.input-text,
.input-select,
.input-data {
  width: 100%;
}

.avaliacoes-container {
  padding-top: 10px;
}

.container__avaliacao {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #ccc;

  box-shadow:
    inset 0 -1px 0 #dcdcdc,
    inset 0 -2px 0 #999;
  padding: 10px 0;
}

.input-mine {
  flex: 1;
}

.linhaOff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 15px;
  width: 100%;
  /* min-width: 450px; */

  margin-bottom: 10px;
}
/* BOTÕES */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 6px;

  padding: 5px 12px;

  font-size: 13px;
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #ccc;

  background: #f5f5f5;

  box-shadow:
    inset 1px 1px 0 #fff,
    inset -1px -1px 0 #999;

  transition: 0.2s;
}

.buttons:hover {
  background: #ececec;
  transform: scale(1.05);
}

.container__button > button {
  width: 100%;
  cursor: pointer;
}

.container__button > button:hover {
  /* font-weight: bold; */
  transform: scale(1.05);
}

.buttons:active {
  box-shadow:
    inset -1px -1px 0 #fff,
    inset 1px 1px 0 #999;

  transform: translateY(1px);
}

/* STATUS VISUAL */

.status-aprovado {
  color: green;
  font-weight: bold;
}

.status-reprovado {
  color: red;
  font-weight: bold;
}

.status-agendado {
  color: #1565c0;
  font-weight: bold;
}

.status-emAndamento {
  color: #ef6c00;
  font-weight: bold;
}

.status-solicitado {
  color: #616161;
  font-weight: bold;
}

.status-cancelado {
  color: #757575;
  font-weight: bold;
  text-decoration: line-through;
}

/* RESPONSIVIDADE */

/* MOBILE */
@media (max-width: 576px) {
  .container__tela {
    padding: 0 10px 15px;
    width: 100%;
    overflow: hidden;
    min-width: 300px;
  }

  h2 {
    font-size: 14px;
  }
  .linha {
    flex-direction: column;
    min-width: 100%;
    gap: 5px;
  }

  .templates__form {
    width: 100%;
  }

  .buttons {
    width: 100%;
    justify-content: center;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 992px) {
  .container__tela {
    padding: 0 20px 15px;
  }
}

/* DESKTOP */
@media (min-width: 992px) and (max-width: 1200px) {
  .container__tela {
    padding: 0 30px 15px;
  }
}

/* EXTRA LARGE */
@media (min-width: 1200px) {
}
