<div class="container__tela">
  <div id="tela__barra-menu">
    <div id="barra-titulo__container">
      <h2 style="font-weight: normal; color: grey">ALUNOS</h2>
    </div>
    <div class="button-container" *ngIf="liberaCriar">
      <!-- <tcx-button label="Novo" (click)="buttonClick()"></tcx-button> -->
      <button class="buttons" (click)="buttonClick()">
        <i class="bi bi-file-earmark-plus"></i> Novo
      </button>
      <button
        class="buttons"
        type="button"
        title="Filtro Status"
        (click)="(filtroStatusOp)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div style="display: flex; align-items: center; width: 100%; padding-top: 10px; gap: 15px;" *ngIf="filtro">
    <div *ngIf="listaComunsFiltro.length > 2" style="width: 250px;" >
      <tcx-select
        [label]="'Filtrar por comum'"
        [placeholder]="'Todas'"
        [niveisLimitados]="listaComunsFiltro"
        [(ngModel)]="filtroComum"
        (valorMudou)="carregarDados()"
      />
    </div>
    <div style="display: flex; flex-direction: row; gap: 10px; padding: 0 10px">
      <input
        type="checkbox"
        [(ngModel)]="filtroStatus"
        (change)="alterarFiltroStatus()"
      />
      <label>Mostrar desativados</label>
    </div>
  </div>
  <div id="tela__container-tabela">
    <tcx-table
      [colunas]="camposColunas"
      [colunasLabels]="tituloColunas"
      [dados]="dados"
      [mostrarAcoes]="liberaEditar || liberaDeletar"
      [acoesTabela]="acoes"
      [tamanhosColunas]="tamanhoColunas"
      [alinhamentosColunasTitulo]="alinhamentoColunaTitulo"
      [alinhamentosColunas]="alinhamentoColuna"
    />
  </div>
</div>

<tcx-modal [title]="title" [visible]="mostrarModal" (onClose)="fecharModal()">
  <div class="templates__form">
    <form [formGroup]="dadosForms" (ngSubmit)="onSalvar()">
      <div class="linha">
        <div class="input-text" id="input-nomeAluno">
          <tcx-text
            label="Aluno"
            type="name"
            formControlName="nomeAluno"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>
      <div class="linha" *ngIf="usuarioEhAdmin()">
        <div class="input-select">
          <tcx-select
            [label]="'Setor'"
            [placeholder]="''"
            [niveisLimitados]="listaSetor"
            [formControl]="getControl('idSetor')"
          />
        </div>
      </div>
      <div class="linha">
        <div class="input-select" id="input-congregacao">
          <tcx-select
            [label]="'Comum Congregação'"
            [placeholder]="''"
            [niveisLimitados]="listaIgreja"
            [formControl]="getControl('idComum')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>
      <div class="linha">
        <div class="input-data">
          <tcx-data
            label="D. Nascimento"
            type="data"
            formControlName="dataNascimento"
            [required]="false"
          />
        </div>
        <div class="input-select" id="input-instrumento">
          <tcx-select
            [label]="'Instrumento'"
            [placeholder]="''"
            [niveisLimitados]="listaInstrumento"
            [formControl]="getControl('idInstrumento')"
            [required]="false"
          />
        </div>
        <div id="input-afinacao">
          <tcx-select
            [label]="'Afinação'"
            [placeholder]="''"
            [niveisLimitados]="listaAfinacao"
            [formControl]="getControl('afinacao')"
            [required]="false"
          />
        </div>
      </div>
      <!-- <div class="linha4"></div> -->
      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal>
