<div class="container__tela">
  <div id="tela__barra-menu">
    <div id="barra-titulo__container">
      <h2 style="font-weight: normal; color: grey">ALUNOS</h2>
    </div>
    <div class="button-container" *ngIf="liberaCriar">
      <!-- <tcx-button label="Novo" (click)="buttonClick()"></tcx-button> -->
      <button class="buttons" (click)="buttonClick()">
        <i class="bi bi-file-earmark-plus"></i> Novo
      </button>
    </div>
  </div>
  <div id="tela__container-tabela">
    <tcx-table
      [colunas]="camposColunas"
      [colunasLabels]="tituloColunas"
      [dados]="dados"
      [mostrarAcoes]="liberaEditar || liberaDeletar"
      [acoesTabela]="acoes"
      [tamanhosColunas]="tamanhoColunas"
      [alinhamentosColunasTitulo]="alinhamentoColunaTitulo"
      [alinhamentosColunas]="alinhamentoColuna"
    />
  </div>
</div>

<tcx-modal [title]="title" [visible]="mostrarModal" (onClose)="fecharModal()">
  <div class="templates__form">
    <form [formGroup]="dadosForms" (ngSubmit)="onSalvar()">
      <div class="linha">
        <div class="input-text" id="input-nomeAluno">
          <tcx-text
            label="Aluno"
            type="name"
            formControlName="nomeAluno"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>
      <div class="linha">
        <div class="input-select" id="input-congregacao">
          <tcx-select
            [label]="'Comum Congregação'"
            [placeholder]="''"
            [niveisLimitados]="listaIgreja"
            [formControl]="getControl('idComum')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>
      <div class="linha">
        <div class="input-data">
          <tcx-data
            label="D. Nascimento"
            type="data"
            formControlName="dataNascimento"
            [required]="false"
          />
        </div>
        <div class="input-select" id="input-instrumento">
          <tcx-select
            [label]="'Instrumento'"
            [placeholder]="''"
            [niveisLimitados]="listaInstrumento"
            [formControl]="getControl('idInstrumento')"
            [required]="false"
          />
        </div>
        <div class="input-select" id="input-afinacao">
          <tcx-select
            [label]="'Afinação'"
            [placeholder]="''"
            [niveisLimitados]="listaAfinacao"
            [formControl]="getControl('afinacao')"
            [required]="false"
          />
        </div>
      </div>
      <!-- <div class="linha4"></div> -->
      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal>
