.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.container__form-windows {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: clamp(300px, 70vw, 600px); */
  width: 100%;

  min-width: 300px;
  max-width: 800px;
  min-height: 100px;
  gap: 5px;
  box-sizing: border-box;
  /* overflow-y: auto; */

  /* padrão do windows */
  border: 3px solid #ccc;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #999;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.title_container {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  flex-direction: row;
  background: linear-gradient(to bottom, #2d89ef, #1b4f9c);
  padding: 6px 10px;
  border-bottom: 1px solid #666;
  text-shadow: 1px 1px 1px #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title_container > .title1 {
  width: 95%;
  font-weight: bold;
  color: white;
}

.title1 h3 {
  margin: 0;
  line-height: 1.2; /* ou ajuste conforme necessário */
}

.title_container > .title2 {
  width: 5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_container > .title2 > button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.6s;
}

.title_container > .title2 > button:hover {
  color: yellow;
  transform: scale(1.4);
}

.field__container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  /* box-sizing: border-box; */

  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px; */
}

/* .templates__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 60vh;
} */
  /* align-items: center; */
  /* padding: 20px; */
  /* overflow-y: auto; */

/* .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;

  gap: 5px;
  width: 100%;
  height: 58px;
} */
/* border: solid 1px red; */
