.login-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 100px auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.login-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  gap: 10px;
  /* border: solid 1px red; */
  margin-bottom: 20px;
}

.login-titulo label {
color: grey;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.login-container input:focus {
  border-color: #007bff;
  outline: none;
}

.login-container button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container div[style*="color: red"] {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #e63946;
  text-align: center;
}
