<ng-container *ngIf="authService.authInicializado$ | async; else loading">
  <!-- <ng-container> -->
  <div class="container">
    <div class="conteiner__menu-topo" *ngIf="logado">
      <div class="menu-topo-left">
        <button (click)="alternarMenu()" class="toggle-btn">
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="menu-topo-right">
        <button (click)="logout()" class="toggle-btn">
          <i class="bi bi-power"></i>
        </button>
      </div>
    </div>

    <div class="container__screen">
      <!-- Overlay -->
      <div
        class="overlay"
        *ngIf="menuMobileAberto"
        (click)="fecharMenuMobile()"
      ></div>

      <!-- Menu -->
      <div
        class="container__menu-lateral"
        [class.oculto]="menuOculto"
        [class.mobile-aberto]="menuMobileAberto"
        *ngIf="logado"
      >
        <tcx-menu />
      </div>

      <!-- Conteúdo -->
      <div class="container__router">
        <router-outlet />
        <tcx-alert />
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <!-- <div class="loading">
    <div class="spinner-border text-primary" role="status"></div>
    <span class="visually-hidden">Carregando autenticação...</span>
  </div> -->
  <div id="splash-screen">
    <!-- <div class="logo">ccbmusica</div> -->
    <div class="spinner"></div>
    <p>Carregando aplicação...</p>
  </div>
</ng-template>

<!-- <div class="container">
  <!-- <div class="container__tela"> --
  <div class="conteiner__menu-topo" *ngIf="logado">
    <div class="menu-topo-left">
      <button (click)="alternarMenu()" class="toggle-btn">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <div class="menu-topo-right">
      <button (click)="logout()" class="toggle-btn">
        <i class="bi bi-power"></i>
      </button>
    </div>
  </div>

  <div class="container__screen">
    <!-- Overlay --
    <div
      class="overlay"
      *ngIf="menuMobileAberto"
      (click)="fecharMenuMobile()"
    ></div>

    <!-- Menu --
    <div
      class="container__menu-lateral"
      [class.oculto]="menuOculto"
      [class.mobile-aberto]="menuMobileAberto"
      *ngIf="logado"
    >
      <tcx-menu />
    </div>

    <!-- Conteúdo --
    <div class="container__router">
      <router-outlet />
    </div>
  </div>
</div> -->
