:host {
  display: block;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}

.form-field {
  position: relative;
  width: 100%;
  z-index: auto;
  border-radius: 5px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 16px 8px 3px 12px;
  border-radius: 4px;

  border: 1px solid #ccc;
  box-shadow:
    inset -1px -1px 0 #fff,
    inset 1px 1px 0 #999;
  font-size: 12px;
  outline: none;
  transition: border-color 0.3s;
  appearance: none;

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px 10px;
  cursor: pointer;
}

.dropdown,
.form-input,
.custom-select {
  background-color: #fff;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-input:focus {
  border-color: #3f51b5;
}

.form-label {
  position: absolute;
  top: 15px;
  left: 12px;
  color: #999;
  font-size: 12px;
  pointer-events: none;
  transition: 0.2s ease all;
  z-index: 21;
}

.form-field.focused .form-label {
  top: 2px;
  font-size: 10px;
  color: #3f51b5;
}

.form-error {
  color: #f44336;
  font-size: 10px;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.option.list-format {
  background-color: #e9e7eb;
  height: 200px !important;
}

.option.destacado {
  background-color: #e9ecef;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 3px;
  /* background: #ccc; */
  border: 1px solid #ccc;
  z-index: 99999;

  max-height: 200px; /* 👈 controla quantidade visível */
  /* overflow-y: auto; */
  overflow: hidden;
}

.lista-opcoes {
  max-height: 180px;
  overflow-y: auto;
}

.option {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.busca-container {
  position: relative;
  width: 100%;
}

.busca-container i {
  position: absolute;
  /* right: 10px; */
  top: 50%;
  left: 10px;
  right: auto;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none; /* não impede clicar no input */
  font-size: 14px;
}

.input-busca {
  width: 100%;
  box-sizing: border-box;
  /*padding: 8px 35px 8px 10px; /* espaço para o ícone */
  padding: 8px 10px 8px 32px;

  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  font-size: 13px;
}

/* .input-busca {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  font-size: 13px;
border-radius: 3px;
} */

.vazio {
  color: #888;
  cursor: default;
}

.option:hover {
  background: #eee;
}

.custom-select {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: relative;
  padding-right: 30px;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.custom-select.open::after {
  transform: translateY(-50%) rotate(180deg);
}
