<div
  class="form-field"
  [class.focused]="isFocused || selectedValue || placeholder"
>
  <label class="form-label">{{ label }}</label>

  <div class="input-wrapper">
    <div
      class="form-input custom-select"
      (click)="toggleDropdown($event)"
      [class.disabled]="disabled"
      tabindex="0"
      (focus)="isFocused = true"
      (blur)="onBlur()"
      (keydown)="onKeyDownCustom($event)"
      [class.open]="open"
    >
      {{ getSelectedLabel() }}
    </div>

    <div
      class="dropdown"
      *ngIf="open"
    >
      <div
        class="option"
        *ngFor="let nivel of niveisLimitados"
        (click)="selectOption(nivel)"
      >
        {{ nivel.label }}
      </div>
    </div>
  </div>

  <div class="form-error" *ngIf="hasError() && !isFocused">
    {{ errorMessage }}
  </div>
</div>
