<div class="container__Menu">
  <br />
  <table class="demonstrativo__tabela">
    <tbody>
      <!-- <tr class="grupo" (click)="menuHome()" style="cursor: pointer">
        <td>
          <div class="grupo__submenu">
            <strong>Painel de Controle</strong>
          </div>
        </td>
      </tr> -->
      <tr
        class="grupo"
        [routerLink]="['/home']"
        routerLinkActive="menu-ativo"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="menuHome()"
      >
        <td>
          <div class="grupo__submenu">
            <strong>Painel de Controle</strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Cadastros -->
  <table *ngIf="cadastroFiltrados.length > 0" class="demonstrativo__tabela">
    <tbody>
      <tr class="grupo" (click)="menuCadastro()" style="cursor: pointer">
        <td>
          <div class="grupo__submenu">
            <strong>Cadastros</strong>
            <span>{{ mostrarGrupo ? "▼" : "▶" }}</span>
          </div>
        </td>
      </tr>

      <!-- Submenus com navegação -->
      <ng-container *ngIf="mostrarGrupo">
        <tr
          *ngFor="let page of cadastroFiltrados"
          @expandCollapse
          class="submenu"
        >
          <!-- <td (click)="abrirRota(page.rota)" style="cursor: pointer">
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td> -->
          <td
            [routerLink]="page.rota"
            routerLinkActive="menu-ativo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- AVALIAÇÕES -->
  <table *ngIf="avaliacoesFiltradas.length > 0" class="demonstrativo__tabela">
    <tbody>
      <tr class="grupo" (click)="menuTestes()" style="cursor: pointer">
        <td>
          <div class="grupo__submenu">
            <strong>Avaliações</strong>
            <span>{{ mostrarGrupo2 ? "▼" : "▶" }}</span>
          </div>
        </td>
      </tr>

      <!-- Submenus com navegação -->
      <ng-container *ngIf="mostrarGrupo2">
        <tr
          *ngFor="let page of avaliacoesFiltradas"
          @expandCollapse
          class="submenu"
        >
          <!-- <td (click)="abrirRota(page.rota)" style="cursor: pointer">
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td> -->
          <td
            [routerLink]="page.rota"
            routerLinkActive="menu-ativo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- Manutenção -->
  <table *ngIf="manutencaoFiltrados.length > 0" class="demonstrativo__tabela">
    <tbody>
      <tr class="grupo" (click)="menuManutencao()" style="cursor: pointer">
        <td>
          <div class="grupo__submenu">
            <strong>Configurações</strong>
            <span>{{ mostrarGrupo1 ? "▼" : "▶" }}</span>
          </div>
        </td>
      </tr>

      <!-- Submenus com navegação -->
      <ng-container *ngIf="mostrarGrupo1">
        <tr
          *ngFor="let page of manutencaoFiltrados"
          @expandCollapse
          class="submenu"
        >
          <!-- <td (click)="abrirRota(page.rota)" style="cursor: pointer">
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td> -->
          <td
            [routerLink]="page.rota"
            routerLinkActive="menu-ativo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i [class]="page.icon"></i>
            {{ page.label }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
