<div class="container__tela">
  <div id="tela__barra-menu">
    <div id="barra-titulo__container">
      <h2>SOLICITAÇÕE </h2> -
      <p style="font-style: normal;" >({{ primeiraMaiuscula(statusFiltro) }})</p>
    </div>

    <div class="button-container">
      <!-- <div class="button-container" > -->
      <button class="buttons" *ngIf="liberaCriar" (click)="buttonClick()">
        <i class="bi bi-file-earmark-plus"></i> Novo
      </button>
      <!-- </div> -->
      <button
        class="buttons"
        type="button"
        title="Filtro Status"
        (click)="(filtroStatusOp)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div style="width: 180px; padding-top: 10px" *ngIf="filtroStatus">
    <tcx-select
      [label]="'Filtro Status'"
      [placeholder]="''"
      [niveisLimitados]="listaStatusFiltro"
      [(ngModel)]="statusFiltro"
      (valorMudou)="aoSelecionarStatusFiltro($event)"
    />
  </div>

  <div id="tela__container-tabela">
    <tcx-table
      [colunas]="camposColunas"
      [colunasLabels]="tituloColunas"
      [dados]="dadosPaginados"
      [mostrarAcoes]="liberaAcoes"
      [acoesTabela]="acoes"
      [tamanhosColunas]="tamanhoColunas"
      [alinhamentosColunasTitulo]="alinhamentoColunaTitulo"
      [alinhamentosColunas]="alinhamentoColuna"
      [destacarLinhas]="regrasDestaque"
    />
  </div>
  <div class="paginacao">
    <button
      class="buttons"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual === 1"
    >
      <i class="bi bi-chevron-left"></i>
    </button>

    <span>
      Página {{ paginaAtual }} de {{ totalPaginas }} ({{ dados.length }}
      registros)
    </span>

    <button
      class="buttons"
      (click)="proximaPagina()"
      [disabled]="paginaAtual >= totalPaginas"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>

<!-- SOLICITAR/EDITAR EXAME -->
<tcx-modal [title]="title" [visible]="mostrarModal" (onClose)="fecharModal()">
  <div class="templates__form">
    <form [formGroup]="dadosForms" (ngSubmit)="onSalvar()" style="width: 100%">
      <div class="linha">
        <div class="input-select">
          <tcx-select
            [label]="'Aluno'"
            [placeholder]="''"
            [niveisLimitados]="listaAlunos"
            [formControl]="getControl('idAluno')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <div class="linha">
        <div class="input-select">
          <tcx-select
            [label]="'Tipo de Exame'"
            [placeholder]="''"
            [niveisLimitados]="listaTipoExame"
            [formControl]="getControl('tipoExame')"
            [required]="true"
            errorMessage="Campo obrigatório"
            (valorMudou)="onTipoExameChange()"
          />
        </div>
      </div>
      <div class="linha" *ngIf="getListaCategoriaExame().length > 0">
        <div class="input-select">
          <tcx-select
            [label]="'Categoria'"
            [placeholder]="''"
            [niveisLimitados]="getListaCategoriaExame()"
            [formControl]="getControl('categoriaExame')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <div class="linha">
        <div class="input-text">
          <tcx-text
            label="Observação"
            type="text"
            formControlName="observacao"
            [required]="false"
          />
        </div>
      </div>

      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal>

<!-- LANÇAR NOTAS -->
<!-- <tcx-modal
  [title]="
    'Lançar Nota - ' +
    (getNomeAluno(exameSelecionado?.idAluno || '') | slice: 0 : 12)
  "
  [visible]="mostrarModalNota"
  (onClose)="fecharModalNota()"
>
  <div class="templates__form">
    <form [formGroup]="notaForm" (ngSubmit)="salvarNota()" style="width: 100%">
      <div class="linha" style="padding: 0 5px 10px; gap: 10px">
        <p>
          <span style="font-weight: 500">Etapa:</span>
          {{ etapaSelecionada?.nome }}
        </p>
        <!-- </div>
        <p *ngIf="etapaSelecionada?.dataLancamento as dataLancamento">
          <span style="font-weight: 500">Data lançamento:</span>
          {{ converterISOParaBR(dataLancamento) }}
        </p>
      </div>

      <!-- MOSTRAR PROFESSOR --
      <div class="linha linhaOff">
        <div class="input-text">
          <tcx-text
            label="Professor"
            type="text"
            formControlName="professorLancamento"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
        <div class="input-text" style="width: 25%">
          <tcx-decimal
            label="Nota"
            [maskType]="'numeric'"
            [alinharDireita]="true"
            formControlName="nota"
            [required]="etapaSelecionada?.nota === null"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <!-- MOSTRAR DATA -->
<!-- <div class="linha">
        <p>
          Data lançamento:
          <strong>
            {{ etapaSelecionada?.dataLancamento }}
          </strong>
        </p>
      </div> -->

<!-- CAMPO NOTA -->
<!-- <div class="linha"></div> -->

<!-- BOTÃO SALVAR --
      <div class="linhaButton" style="margin-top: 20px">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
        <div class="container__button" *ngIf="etapaSelecionada?.nota !== null">
          <button type="button" class="buttons" (click)="excluirNota()">
            Excluir Nota
          </button>
        </div>
      </div>
    </form>

    <!-- BOTÃO EXCLUIR FORA DO FORM --
  </div>
</tcx-modal> -->

<!-- CANCELAR EXAME -->
<!-- <tcx-modal
  [title]="'Cancelar Exame'"
  [visible]="mostrarModalCancelamento"
  (onClose)="fecharModalCancelamento()"
>
  <div class="templates__form">
    <form
      [formGroup]="cancelamentoForm"
      (ngSubmit)="confirmarCancelamento()"
      style="width: 100%"
    >
      <div class="linha">
        <p>
          Cancelar exame de:
          <span style="font-weight: 500">
            {{ getNomeAluno(exameCancelamento?.idAluno || "") }}
          </span>
        </p>
      </div>

      <div class="linha">
        <div class="input-text">
          <tcx-text
            label="Motivo do cancelamento"
            type="text"
            formControlName="motivoCancelamento"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Cancelar Exame" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal> -->

<!-- AGENDAR ETAPAS -->
<!-- <tcx-modal
  [title]="'Agendar Etapa'"
  [visible]="mostrarModalAgendamentoEtapa"
  (onClose)="fecharModalAgendamentoEtapa()"
>
  <div class="templates__form">
    <form
      [formGroup]="agendamentoEtapaForm"
      (ngSubmit)="salvarAgendamentoEtapa()"
      style="width: 100%"
    >
      <div class="linha">
        <p>
          Etapa:
          <strong>{{ etapaAgendamento?.nome }}</strong>
        </p>
      </div>

      <div class="linha">
        <div class="input-data">
          <tcx-data
            label="Data da Etapa"
            type="data"
            formControlName="dataAgendada"
            [required]="true"
          />
        </div>
      </div>

      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal> -->
