<div class="container__tela">
  <div id="tela__barra-menu">
    <div id="barra-titulo__container">
      <h2>SOLICITAÇÕE</h2>
      -
      <p style="font-style: normal">({{ primeiraMaiuscula(statusFiltro) }})</p>
    </div>

    <div class="button-container">
      <!-- <div class="button-container" > -->
      <button class="buttons" *ngIf="liberaCriar" (click)="buttonClick()">
        <i class="bi bi-file-earmark-plus"></i> Novo
      </button>
      <!-- </div> -->
      <button
        class="buttons"
        type="button"
        title="Filtro Status"
        (click)="(filtroStatusOp)"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div style="display: flex; gap: 15px; width: 100%; padding-top: 10px" *ngIf="filtroStatus">
    <div style="width: 250px">
      <tcx-select
        [label]="'Filtro Status'"
        [placeholder]="''"
        [niveisLimitados]="listaStatusFiltro"
        [(ngModel)]="statusFiltro"
        (valorMudou)="aoSelecionarStatusFiltro($event)"
      />
    </div>
    <div style="width: 250px">
      <tcx-select
        [label]="'Categorias'"
        [placeholder]="''"
        [niveisLimitados]="listaCategorias"
        [(ngModel)]="statusCategorias"
        (valorMudou)="aoSelecionarCategoriaFiltro($event)"
      />
    </div>

    <div style="width: 250px">
      <tcx-text
        label="Pesquisa..."
        type="text"
        [(value)]="pesquisa"
        (valueChange)="buscarPesquisa()"
      />
    </div>
  </div>

  <div id="tela__container-tabela">
    <tcx-table
      [colunas]="camposColunas"
      [colunasLabels]="tituloColunas"
      [dados]="dadosPaginados"
      [mostrarAcoes]="liberaAcoes"
      [acoesTabela]="acoes"
      [tamanhosColunas]="tamanhoColunas"
      [alinhamentosColunasTitulo]="alinhamentoColunaTitulo"
      [alinhamentosColunas]="alinhamentoColuna"
      [destacarLinhas]="regrasDestaque"
    />
  </div>
  <div class="paginacao">
    <button
      class="buttons"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual === 1"
    >
      <i class="bi bi-chevron-left"></i>
    </button>

    <span>
      Página {{ paginaAtual }} de {{ totalPaginas }} ({{ dados.length }}
      registros)
    </span>

    <button
      class="buttons"
      (click)="proximaPagina()"
      [disabled]="paginaAtual >= totalPaginas"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>

<!-- SOLICITAR/EDITAR EXAME -->
<tcx-modal [title]="title" [visible]="mostrarModal" (onClose)="fecharModal()">
  <div class="templates__form">
    <form [formGroup]="dadosForms" (ngSubmit)="onSalvar()" style="width: 100%">
      <div class="linha">
        <div class="input-select">
          <tcx-select
            [label]="'Aluno'"
            [placeholder]="''"
            [niveisLimitados]="listaAlunos"
            [formControl]="getControl('idAluno')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <div class="linha">
        <div class="input-select">
          <tcx-select
            [label]="'Tipo de Exame'"
            [placeholder]="''"
            [niveisLimitados]="listaTipoExame"
            [formControl]="getControl('tipoExame')"
            [required]="true"
            errorMessage="Campo obrigatório"
            (valorMudou)="onTipoExameChange()"
          />
        </div>
      </div>
      <div class="linha" *ngIf="getListaCategoriaExame().length > 0">
        <div class="input-select">
          <tcx-select
            [label]="'Categoria'"
            [placeholder]="''"
            [niveisLimitados]="getListaCategoriaExame()"
            [formControl]="getControl('categoriaExame')"
            [required]="true"
            errorMessage="Campo obrigatório"
          />
        </div>
      </div>

      <div class="linha">
        <div class="input-text">
          <tcx-text
            label="Observação"
            type="text"
            formControlName="observacao"
            [required]="false"
          />
        </div>
      </div>

      <div class="linhaButton">
        <div class="form__button">
          <tcx-button label="Salvar" type="submit"></tcx-button>
        </div>
      </div>
    </form>
  </div>
</tcx-modal>
